# **Topics**


1. Variables and Data Types

  1.1  Number

  1.2 Variable Assignment

  1.9 Comparison Operators

  1.10 Sets
2. Control Structures

3.  Functions

4. Object-Oriented Programming

5. File I/O and Libraries

# **1. Variables, Operators and Data Types**


    strings :-   "ABCD", 'AbC'd'*64b6#4$@ *()'
    integer :-   -1, -2, -3
    float   :-   1.2, 42.42
    boolean :-   True or False.
    complex :-   1.0 + 2.0j,    1.5 + 2.5j

    Text Type:       	str
    Numeric Types: 	  int, float, complex
    Sequence Types: 	list, tuple, range
    Mapping Type: 	  dict
    Set Types: 	      set, frozenset
    Boolean Type: 	  bool
    Binary Types:   	bytes, bytearray, memoryview
    None Type: 	      NoneType

## **1.1 Numbers**

In [139]:
print("Addition (a+b):{}".format(1+1))
print("Subtraction (a-b):{}".format(3-4))
print("Multiplication (a*b): {} , Power (a**b):{}".format(5*2,5**2))
print("Remainder (a%b): {}".format(5%2))
print("Division or modulus (a/b): {}".format(5/2))
print("Floor division (a//b): {}".format(5/2))

Addition (a+b):2
Subtraction (a-b):-1
Multiplication (a*b): 10 , Power (a**b):25
Remainder (a%b): 1
Division or modulus (a/b): 2.5
Floor division (a//b): 2.5

In [196]:
com=1+2j       #complex number
print(com, type(com))

(1+2j) <class 'complex'>

## **1.2  Variable Assignment**

In [29]:
name_of_var = 2   # Can not start with number or special characters
x = 2.1      
y = -33
z=x+y
print("name_of_var:{},  x:{},  y: {},  z:{},  (x+y):{},  test:{test}".format(name_of_var,x,y,z,x+y,test=23))
print('  variable     |   value     |  type')
print("------------------------------------------")
print('name_of_var    |    {}        |  {}'.format(name_of_var,type(name_of_var)))
print('     x         |    {}      |  {}'.format(x,type(x)))
print('     y         |    {}      |  {}'.format(y,type(y)))
print('     z         |    {}    |  {}'.format(z,type(z)))

name_of_var:2,  x:2.1,  y: -33,  z:-30.9,  (x+y):-30.9,  test:23
  variable     |   value     |  type
------------------------------------------
name_of_var    |    2        |  <class 'int'>
     x         |    2.1      |  <class 'float'>
     y         |    -33      |  <class 'int'>
     z         |    -30.9    |  <class 'float'>

In [118]:
var_ass=2.1
var_ass1, var_ass2, var_ass3 =int(2.1),float(2.1), str(2.1)

print("Normal ,   Value:  {},   Type:   {}".format(var_ass,type(var_ass)))
print("Integer,   Value:  {},   Type:   {}".format(var_ass1,type(var_ass1)))
print("Float  ,   Value:  {},   Type:   {}".format(var_ass2,type(var_ass2)))
print("String ,   Value:  {},   Type:   {}".format(var_ass3,type(var_ass3)))

Normal ,   Value:  2.1,   Type:   <class 'float'>
Integer,   Value:  2,   Type:   <class 'int'>
Float  ,   Value:  2.1,   Type:   <class 'float'>
String ,   Value:  2.1,   Type:   <class 'str'>

In [128]:
a1=a2=a3=24           #one value to multiple variables          
print("a1:",a1)
print("a2:",a2)
print("a3:",a3)

a1: 24
a2: 24
a3: 24

In [131]:
alist=[1,2.1,'hi',[1,2]]           
a1,a2,a3,a4=alist 
print('alist:',alist)                 #unpack elements of list ...Note: number of varible must be equal to number of elements
print("a1:",a1)
print("a2:",a2)
print("a3:",a3)
print("a4:",a4)

alist: [1, 2.1, 'hi', [1, 2]]
a1: 1
a2: 2.1
a3: hi
a4: [1, 2]

## **1.3 Strings**

In [137]:
a='string1'                                    
b="string's"
print('single quotes,',"double quotes")                  
print("wrap lot's of other quotes")
print('a+b:'+a+b,'end')           #+ sign don not provide space, "," sign provide space in printing
print("a:{},".format(a),"b:{}".format(b))
print("Type of a: {}".format(type(a)))

single quotes, double quotes
wrap lot's of other quotes
a+b:string1string's end
a:string1, b:string's
Type of a: <class 'str'>

## **1.4 Lists**

    append() 	Adds an element at the end of the list
    clear()	  Removes all the elements from the list
    copy()	   Returns a copy of the list
    count()	  Returns the number of elements with the specified value
    extend() 	Add the elements of a list (or any iterable), to the end of the current list
    index()	  Returns the index of the first element with the specified value
    insert()	 Adds an element at the specified position
    pop()	    Removes the element at the specified position
    remove()     Removes the item with the specified value
    reverse()	Reverses the order of the list
    sort()	   Sorts the list

In [273]:
list_example=['hi',1,[1,2,[4,5,6]],'a']  #list=[string,list,float,int]                             #sequence type datatype
                                         #array is a special type of list for same type of data set 
                                         #vector is a single dimention array
print(list_example)
print("Type:{}".format(type(list_example)))
print("Length:{}".format(len(list_example)))
print("Size of third index in list_example: {}".format(len(list_example[2])))
print("Call list element:{}, {}".format(list_example[2][1],list_example[2][2][1]))

['hi', 1, [1, 2, [4, 5, 6]], 'a']
Type:<class 'list'>
Length:4
Size of third index in list_example: 3
Call list element:2, 5

In [272]:
# count and clear
print(list_example.count('hi'))
list_example.clear()
print(list_example.clear())
list_example

0
None

[]

In [277]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

In [70]:
list_example.append([45,'a'])         #add any type of single data in the end of the list
print(list_example)
print("length:{}".format(len(list_example)))

['hi', 1, [1, 2, [4, 5, 6]], 'a', [45, 'a']]
length:5

In [74]:
print("All Element after index 2:   {}".format(list_example[2:]))
print("All Element before index 3:   {}".format(list_example[:3]))

All Element after index 2:   [[1, 2, [4, 5, 6]], 'a', [45, 'a']]
All Element before index 3:   ['hi', 1, [1, 2, [4, 5, 6]]]

In [76]:
list_example[2][0]='test'
print("New modifiedd list:   {}".format(list_example))

New modifiedd list:   ['hi', 1, ['test', 2, [4, 5, 6]], 'a', [45, 'a']]

In [190]:
test=[i*2 for i in list_example]
print(test)

['hihi', 2, [1, 2, [4, 5, 6], 1, 2, [4, 5, 6]], 'aa']

In [234]:
#loop
value=12
list_test= ["apple", "banana", "cherry",2, value] 
for x in list_test:
  print(x)

apple
banana
cherry
2
12

In [245]:
#Additional   #List comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
nlist = []

for x in fruits:
  if "a" in x:
    nlist.append(x)

print(newlist) 

print("-----------------------------")
newlist = [x for x in fruits if "a" in x]
print(newlist)

print("-----------------------------")
newlist = [x for x in fruits if x != "apple"] 
print(newlist)

['apple', 'banana', 'mango']
-----------------------------
['apple', 'banana', 'mango']
-----------------------------
['banana', 'cherry', 'kiwi', 'mango']

In [257]:
#Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)


print("-----------------------------")
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

print("----------Descending order-------------------")
thislist.sort(reverse = True)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
-----------------------------
[23, 50, 65, 82, 100]
----------Descending order-------------------
[100, 82, 65, 50, 23]
----------Customize Sort Function-------------------
[65, 50, 82, 23, 100]
----------Capital letter sort first-------------------
['Kiwi', 'Orange', 'banana', 'cherry']

In [259]:
print("----------Customize Sort Function-------------------")
def myfunc(n):
  return abs(n - 60)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

print("----------Capital letter sort first-------------------")
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

print("----------reverse list-------------------")
thislist.reverse()
print(thislist)

----------Customize Sort Function-------------------
[65, 50, 82, 23, 100]
----------Capital letter sort first-------------------
['Kiwi', 'Orange', 'banana', 'cherry']
----------reverse list-------------------
['cherry', 'banana', 'Orange', 'Kiwi']


   You **cannot** copy a list simply by typing **list2 = list1**, because: list2 will only be a reference to list1, and **changes made in list1** will **automatically** also be **made in list2**.

In [262]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [266]:
#List addition 
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3) 

print("----------other method-------------------")
for x in list2:
  list1.append(x)           
print(list1) 

print("----------other method-------------------")
list1.extend(list2)          
print(list1)

['a', 'b', 'c', 1, 2, 3]
----------other method-------------------
['a', 'b', 'c', 1, 2, 3]
----------other method-------------------
['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

## **1.5 Tuples**

In [147]:
#tuple are unchangable 
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print("tuple1: ",tuple1,",Type:",type(tuple1))
print("tuple2: ",tuple2,",Type:",type(tuple2))
print("tuple3: ",tuple3,",Type:",type(tuple3))

tuple1:  ('apple', 'banana', 'cherry') ,Type: <class 'tuple'>
tuple2:  (1, 5, 7, 9, 3) ,Type: <class 'tuple'>
tuple3:  (True, False, False) ,Type: <class 'tuple'>
tuple4:  ('apple',) ,Type: <class 'tuple'>
not_tuple:  apple ,Type: <class 'str'>

In [154]:
tuple4=("apple",)                       #this is tuple ...... Note: ","is required
tuple5=tuple(("apple"))      
tuple5=tuple("apple")                    #tuple with length 5........... Note:one bracket is missing
not_tuple= ("apple")                    #this is not a tuple
print("tuple4: ",tuple4,",Type:",type(tuple4))
print("tuple5: ",tuple5,",Type:",type(tuple5))
print("not_tuple: ",not_tuple,",Type:",type(not_tuple))

tuple4:  ('apple',) ,Type: <class 'tuple'>
tuple5:  ('a', 'p', 'p', 'l', 'e') ,Type: <class 'tuple'>
not_tuple:  apple ,Type: <class 'str'>

In [151]:
print(len(tuple5))

5

In [161]:
#indexing will be same as list
print(tuple1[2])
print(tuple1[:2])
print(tuple1[2:])

cherry
('apple', 'banana')
('cherry',)

In [210]:
thistuple = ("apple", "banana", "cherry",2,2.5)
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## **1.6 Range**

In [164]:
range=range(5)
print(type(range))

<class 'range'>

## **1.7 Dictionaries**

In [141]:
item2, item3='hi' , 65         #Mapping type data type
dr=2
dict = {'key1':[45.1,2],'key2':item2,'key3':'item2','key3':item3,dr:63}  #key= any string, variable(must be defined), int, float
                                                                         #item= any string, variable(must be defined), int, float
print(dict)
print(dict['key3'])
print(5+dict['key3'])

{'key1': [45.1, 2], 'key2': 'hi', 'key3': 65, 2: 63}
65
70

In [165]:
print(dict[dr],dict[2])

63 63 <class 'dict'>

In [174]:
print(type(dict['key1']),type(dict['key2']))
print(type(dict))

<class 'list'> <class 'str'>
<class 'dict'>

## **1.8 Booleans**

In [142]:
bool1, bool2=True, False                         #Boolean type datatype
print(bool1,bool2)
print("Type:{}".format(type(bool1)))

True False
Type:<class 'bool'>

## **1.9 Comparison Operators**

In [159]:
c1,c2,c3,c4,c5=1>2,2<5,5>=5,6<=2,2==2
print(c1, c2, c3, c4,c5)

False True True False True



## **1.10 Sets**

    A set is a collection which is unordered, unchangeable*, and unindexed*.
    Note: It is unchangeable but we can add and remove items which is not possible in tuple

In [207]:
value=2.4
set = {"apple", "banana", "cherry",2, value}         #Duplicates not allowed as
print(set)

{2.4, 2, 'cherry', 'apple', 'banana'}

In [208]:
print(type(set))

<class 'set'>

In [222]:
set = {"apple", "banana", "cherry",2}  
set.add("orange")      #add item
print(set) 
set1={"curd", "milk"}
set.update(set1)      #Adding another set
print(set)

{2, 'cherry', 'orange', 'apple', 'banana'}
{2, 'cherry', 'curd', 'milk', 'orange', 'apple', 'banana'}

In [223]:
value=12
set = {"apple", "banana", "cherry",2, value}  
mylist = ["kiwi", "orange"]   
dictset={'k':256}   
set.update(set1)      #Any list, tuple, dictionary could be add
set.update(dictset)
print(set)

{2, 'cherry', 'curd', 'milk', 'k', 12, 'apple', 'banana'}

In [228]:
value=12
set = {"apple", "banana", "cherry",2, value}  
set.remove("banana")    #If the item to remove does not exist, remove() will raise an error.
set.discard("banana")   #If the item to remove does not exist, discard() will NOT raise an error.
print(set)

{2, 'cherry', 12, 'apple'}

In [280]:
value=12
set1 = {"apple", "banana", "cherry",2, value}
print(set1)  
pop=set1.pop()  
print(pop)
print(set1)

{2, 'cherry', 12, 'apple', 'banana'}
2
{'cherry', 12, 'apple', 'banana'}

In [281]:
type(set1)

set

# **2. Control Structures**

AttributeError: ignored

# **4. Object-Oriented Programming**

# **3. Functions**

# **5. File I/O and Libraries**